body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
}

#instructions {
  max-width: 65%;
  margin: auto;
  text-align: center;
}

h1, h2 {
  margin: 10px 0;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.option {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

.option.selected {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

#start-game, #next-round {
  padding: 10px 25px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}

#start-game:hover, #next-round:hover {
  color: blue;
  background-color: white;
  border: 2px solid blue;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-color: white;
  cursor: pointer;
}

.card:hover {
  border: 3px solid red; 
}

.color-box {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card-container {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  margin-top: 2rem;
}

.grid-3x2 {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
}

.grid-3x3 {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.hidden {
  display: none;
}

#scoreboard {
  font-weight: bold;
  margin-bottom: 10px;
}
